@page "/"
@using web.Services.Http.Auth
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using web.Models
@inject IAuthClient AuthClient
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavManager


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap-grid.min.css">
</head>
<body>
<section id="login-form">
    <h1>Login</h1>

    <form>
        <div class="input-field">
            <label for="username">Username:</label>
            <input class="input rounded-sm" type="text" name="username" @bind="LoginModel.Username"/>
        </div>
        <div class="input-field">
            <label for="password">Password:</label>
            <input class="input rounded-sm" type="password" name="password" @bind="LoginModel.Password"/>
        </div>
        <button @onclick="() => Authenticate()" class="btn rounded-sm" data-style="primary">Login</button>
    </form>
</section>
</body>
</html>

@code {
    private Models.Login LoginModel = new Models.Login();
    private AuthenticationToken user = new AuthenticationToken();

    private async Task Authenticate()
    {
        try
        {
            var loginResponse = await AuthClient.SignIn(LoginModel);

            if (loginResponse is not null)
            {
                user = new AuthenticationToken()
                {
                    Token = loginResponse.Token,
                    Username = loginResponse.Username,
                    UserId = loginResponse.UserId,
                    Role = loginResponse.Role
                };

                await SetUserAsync();
                NavManager.NavigateTo("/welcomepage", true);
            }
            else
            {
                Console.WriteLine("Login não foi efetuado com sucesso!");
            }
        }
        catch
            (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var loadedUser = await LoadStateAsync();
            if (loadedUser is not null)
            {
                NavManager.NavigateTo("/welcomepage", true);
            }

            StateHasChanged();
        }
    }

    private async Task<AuthenticationToken> LoadStateAsync()
    {
        var result = await SessionStorage.GetAsync<AuthenticationToken>("User");
        if (result.Success && !result.Value.UserId.Equals(0))
        {
            return result.Value;
        }
        return null;
    }

    private async Task SetUserAsync()
    {
        await SessionStorage.SetAsync("User", user);
    }

}