@page "/"
@using web.Services.Session
@inject NavigationManager NavManager
@inject ISession SessionStorage

@using Microsoft.JSInterop
@using System.Net.Http
@using System.Net.Http.Headers
@using web.Models
@inject HttpClient httpClient
@inject IJSRuntime JsRuntime


<h1 class="text-center">WelcomePage</h1>
<form @onsubmit="() => LogOut()">
    <button class="btn" data-style="primary" type="submit">
        Logout
    </button>
</form>

<h1 style="margin-top: 3rem;">Listagem das Áreas Profissionais</h1>
@if (areas == null)
{
    <p>No Professional Areas were found.</p>
}
else
{
    <ul>
        @foreach (var area in areas)
        {
            <li>@area.Area</li>
        }
    </ul>
}

@code {
    private ProfessionalArea[]? areas;
    
    private async void LogOut()
    {
        await SessionStorage.DeleteStateAsync();
        NavManager.NavigateTo("/login");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var loadedUser = await SessionStorage.LoadStateAsync();
            if (loadedUser == null || string.IsNullOrEmpty(loadedUser.Token))
            {
                NavManager.NavigateTo("/Login", true);
                return;
            }

            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", loadedUser.Token);

            areas = await httpClient.GetFromJsonAsync<ProfessionalArea[]>("http://localhost:8000/api/areas");

            StateHasChanged();
        }
    }
}