@namespace web.Pages

@page "/"

@using System.Net.Http
@using System.Net.Http.Headers
@using web.Models
@using web.Services.Session

@inject NavigationManager NavManager
@inject ISession SessionStorage
@inject Services.Http.ProfessionalArea ProfessionalArea
@inject HttpClient HttpClient

<main class="container mx-auto">
    <NavigationBar/>

    <section class="pt-5">
        <h2>Professional Areas</h2>
        <table class="table my-5">
            <thead>
            <tr>
                <th scope="col">Area</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            @if (_areas == null)
            {
                <tr>
                    <td colspan="2" class="text-muted">No Professional Areas were found.</td>
                </tr>
            }
            else
            {
                @foreach (var area in _areas)
                {
                    <tr>
                        <td>@area.Area</td>
                        <td class="d-flex align-items-center gap-5 flex-wrap">
                            <a href="@($"edit-professional-area/{area.Id}")">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a @onclick="() => DeleteProfessionalArea(area.Id)" class="text-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>

        <form class="crud-add-form" @onsubmit="CreateProfessionalArea">
            <div class="input-field">
                <label for="area">Area</label>
                <input type="text" @bind="Area" id="area" required>
            </div>
            <button type="submit" class="btn" data-style="primary">
                <i class="fa-solid fa-plus"></i> Add
            </button>
            <p class="text-danger">
                @ProfessionalAreaMessage
            </p>
        </form>
    </section>
</main>

@code {
    private string bearerToken;
    private ProfessionalArea[]? _areas;
    private ProfessionalArea? _newProfessionalArea;
    private string Area;
    private string ProfessionalAreaMessage;

    private ProfessionalArea[]? areas;

    protected override Task OnInitializedAsync()
    {
        _newProfessionalArea = new ProfessionalArea();
        Area = "";
        return base.OnInitializedAsync();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var loadedUser = await SessionStorage.LoadStateAsync();
        if (loadedUser is null)
        {
            NavManager.NavigateTo("/Login", true);
        }

        StateHasChanged();
    }

    private async Task LoadProfessionalAreasAsync()
    {
        var loadedUser = await SessionStorage.LoadStateAsync();
        if (string.IsNullOrEmpty(loadedUser.Token))
        {
            NavManager.NavigateTo("/Login", true);
            return;
        }

        bearerToken = loadedUser.Token;
        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", loadedUser.Token);
        _areas = await HttpClient.GetFromJsonAsync<ProfessionalArea[]>("http://localhost:8000/api/areas");
    }

    private async Task<bool> CreateProfessionalArea()
    {
        Console.WriteLine("Area " + _newProfessionalArea.Area);
        _newProfessionalArea.Area = Area;
        var errorModel = await ProfessionalArea.AddProfessionalArea(_newProfessionalArea, bearerToken);

        if (errorModel != null)
        {
            ProfessionalAreaMessage = "Professional Area already exists!";
        }

        await LoadProfessionalAreasAsync();
        return await Task.FromResult(true);
    }

    private async Task DeleteProfessionalArea(int areaId)
    {
        var errorModel = await ProfessionalArea.DeleteProfessionalArea(areaId, bearerToken);
        Console.WriteLine("areaId: " + areaId + ", errorModel: " + errorModel + ", bearerToken: " + bearerToken);

        ProfessionalAreaMessage = errorModel != null ? "Failed to delete the professional area." : "Professional area deleted successfully.";

        await LoadProfessionalAreasAsync();
    }


}